<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConString" connectionString="Data Source=DESKTOP-2UKA643;Initial Catalog=AdventureWorks2019;Integrated Security=true;" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>